"""Tests standard tap features using the built-in SDK tests library."""

from __future__ import annotations

from typing import Any

from singer_sdk.testing import SuiteConfig, get_tap_test_class

from [[ tap_package_import_name ]].tap import Tap[[ tap_source_id ]]

SAMPLE_CONFIG: dict[str, Any] = {}

TestTap[[ tap_source_id ]] = get_tap_test_class(
    Tap[[ tap_source_id ]],
    config=SAMPLE_CONFIG,
    suite_config=SuiteConfig(
        max_records_limit=10,
    ),
)

# TODO([[ author_username ]]): Create additional tests as appropriate for your tap.
