[%- set prefix = tap_id|replace('-', '_')|upper -%]

[%- if tap_auth_method in ("OAuth2", "JWT") -%]
[%- set passenv = [prefix + '_CLIENT_ID'] -%]
[%- elif tap_auth_method == "API Key" -%]
[%- set passenv = [prefix + '_API_KEY'] -%]
[%- elif tap_auth_method == "Bearer Token" -%]
[%- set passenv = [prefix + '_TOKEN'] -%]
[%- elif tap_auth_method in ("OAuth2", "JWT", "Basic Auth") -%]
[%- set passenv = [prefix + '_USERNAME', prefix + '_PASSWORD'] -%]
[%- else -%]
[%- set passenv = [] -%]
[%- endif %]

[[- passenv.append(prefix + '_START_DATE') or "" -]]

name: Test [[ tap_id ]]

on:
  push:
    branches: [main]
    paths:
    - [[ tap_package_import_name ]]/**
    - tests/**
    - pyproject.toml
    - .github/workflows/test.yml
    - .github/workflows/constraints.txt
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - [[ tap_package_import_name ]]/**
    - tests/**
    - pyproject.toml
    - .github/workflows/test.yml
    - .github/workflows/constraints.txt
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.25.0
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.25.0
  # renovate: datasource=pypi depName=uv
  UV_VERSION: "0.6.9"

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
        include:
        - { environment: "dependencies", python-version: "3.x" }
        - { environment: "typing",       python-version: "3.x" }

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
      with:
        version: "${{ env.UV_VERSION }}"

    - name: Run tests
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
        [%- for env in passenv %]
        [[ env ]]: ${{ secrets.[[ env ]] }}
        [%- endfor %]
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e ${{ matrix.environment || matrix.python-version }}

[%- if repository_visibility == 'private' %]

  pre-commit:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
      with:
        python-version: "3.x"
    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd  # v3.0.1
    - uses: pre-commit-ci/lite-action@5d6cc0eb514c891a40562a58a8e71576c5c7fb43  # v1.1.0
      if: always()
[%- endif %]
