[%- set prefix = tap_id|replace('-', '_')|upper -%]

[%- if tap_auth_method in ("OAuth2", "JWT") -%]
[%- set passenv = [prefix + '_CLIENT_ID'] -%]
[%- elif tap_auth_method == "API Key" -%]
[%- set passenv = [prefix + '_API_KEY'] -%]
[%- elif tap_auth_method == "Bearer Token" -%]
[%- set passenv = [prefix + '_TOKEN'] -%]
[%- elif tap_auth_method in ("OAuth2", "JWT", "Basic Auth") -%]
[%- set passenv = [prefix + '_USERNAME', prefix + '_PASSWORD'] -%]
[%- else -%]
[%- set passenv = [] -%]
[%- endif %]

[[- passenv.append(prefix + '_START_DATE') or "" -]]

name: Test [[ tap_id ]]

on:
  push:
    branches: [main]
    paths:
      - [[ tap_package_import_name ]]/**
      - tests/**
      - noxfile.py
      - poetry.lock
      - pyproject.toml
      - .github/workflows/test.yml
      - .github/workflows/resources/constraints.txt
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - [[ tap_package_import_name ]]/**
      - tests/**
      - noxfile.py
      - poetry.lock
      - pyproject.toml
      - .github/workflows/test.yml
      - .github/workflows/resources/constraints.txt

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      SETUPTOOLS_USE_DISTUTILS: stdlib
      PIP_CONSTRAINT: .github/workflows/constraints.txt
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.6.1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Upgrade pip
      run: |
        pip install pip
        pip --version

    - name: Install Poetry
      run: |
        pipx install poetry
        poetry --version

    - name: Install tox
      run: |
        pipx install tox
        tox --version

    - name: Run lint command from tox.ini
      env:
        [%- for env in passenv %]
        [[ env ]]: ${{ secrets.[[ env ]] }}
        [%- endfor %]
      run: |
        tox -e pytest

[%- if repository_visibility == 'private' %]

  pre-commit:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: "1"
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.2

    - name: Set up Python
      uses: actions/setup-python@v4.6.1
      with:
        python-version: "3.11"

    - uses: pre-commit/action@v3.0.0

    - uses: pre-commit-ci/lite-action@v1.0.1
      if: always()
[%- endif %]
