version: 1
send_anonymous_usage_stats: false
project_id: [[ tap_id ]]
plugins:
  extractors:
  - name: [[ tap_id ]]
    label: [[ tap_source_name ]]
    namespace: [[ tap_source_id|lower ]]
    description: [[ tap_source_description ]]
    repository: "https://[[ repository_provider ]]/[[ repository_namespace ]]/[[ repository_name ]]"
    docs: "https://[[ repository_provider ]]/[[ repository_namespace ]]/[[ repository_name ]]#readme"
    pip_url: -e .
    capabilities:
    - catalog
    - discover
    settings:
    # TODO: To configure using Meltano, declare settings and their types here:
[%- if tap_auth_method in ("OAuth2", "JWT") %]
    - name: client_id
      kind: password
      label: Client ID
      description: Client ID to authenticate in [[ tap_source_name ]]
[%- elif tap_auth_method == "API Key" %]
    - name: api_key
      kind: password
      label: API Key
      description API Key for [[ tap_source_name ]]
[%- elif tap_auth_method == "Bearer Token" %]
    - name: token
      kind: password
      label: API Token
      description: API Token for [[ tap_source_name ]]
[%- elif tap_auth_method == ("OAuth2", "JWT", "Basic Auth") %]
    - name: username
      kind: string
      label: Username
      description: Username in [[ tap_source_name ]]
    - name: password
      kind: password
      label: Password
      description: Password in [[ tap_source_name ]]
[%- endif %]
    - name: start_date
      kind: date_iso8601
      label: Start Date
      description: Earliest datetime to get data from
    config:
      start_date: "[[ now().date() ]]"
 loaders:
  - name: target-jsonl
    variant: andyh1203
    pip_url: target-jsonl
