version: 1
send_anonymous_usage_stats: false
project_id: [[ tap_id ]]
plugins:
  extractors:
  - name: [[ tap_id ]]
    label: [[ tap_source_name ]]
    namespace: [[ tap_source_id|lower ]]
    description: [[ tap_source_description ]]
    repository: "https://[[ repository_provider ]]/[[ repository_namespace ]]/[[ repository_name ]]"
    docs: "https://[[ repository_provider ]]/[[ repository_namespace ]]/[[ repository_name ]]#readme"
    pip_url: -e .
    capabilities:
    - catalog
    - discover
    settings:
    # TODO: To configure using Meltano, declare settings and their types here:
    - name: username
    - name: password
      kind: password
  loaders:
  - name: target-jsonl
    variant: andyh1203
    pip_url: target-jsonl
