[%- set prefix = tap_id|replace('-', '_')|upper -%]

[tox]
min_version = 4.22
env_list =
    dependencies
    typing
    3.{10,11,12,13}

[testenv]
runner = uv-venv-lock-runner
pip_pre = true
pass_env =
    [[ prefix ]]_*
dependency_groups =
    testing
commands =
    pytest {posargs}

[testenv:dependencies]
dependency_groups =
    testing
commands =
    deptry .

[testenv:sync]
pip_pre = true
pass_env =
    [[ prefix ]]_*
commands =
    [[ tap_package_command_line_name ]] {posargs}

[testenv:typing]
dependency_groups =
    testing
    typing
commands =
    mypy --strict {posargs:[[ tap_package_import_name ]] tests}
